.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 30px;
}

.info_game{
  display: flex;
  gap: 2rem;
}

.info_game div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

#description{
  font-size: 1.2rem;
  color: #3f3f3f;
  line-height: 1.5;
}

.list_plataforms li {
  background-color: rgb(11, 92, 212);
  font-weight: bolder;
  padding: .5rem .8rem;
  font-size: .8rem;
  border-radius: 4px;
  color: #fff;
}

.list_categories li{
  background-color: #e54;
  font-size: .8rem;
  font-weight: bolder;
  padding: .5rem .8rem;
  border-radius: 4px;
  color: #fff;
}

#link_home{
  margin-top: 2rem;
  padding: .6rem .8rem;
  background-color: rgb(41, 230, 104);
  font-size: .9rem;
  border-radius: 4px;
  font-weight: bolder;
}

.list_plataforms,.list_categories{
  display: flex;
  align-items: center;
  gap: 20px;
}

@media(max-width: 768px){
  .info_game {
    flex-direction: column;
  }

  #description{
    font-size: 1rem;
  }

  .title{
    font-size: 1.2rem;
  }
}